@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.bg{
    background-color: #f3f3f4;
}
.main_div {
  
  width: 100%;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 85px;
}
.main {
  display: inline-flex;
  margin-top: 20px;
}

.h2 {
  text-align: center;
  font-family: "Rubik" !important;
  color: #0a141e;
  font-weight: 500;
}
.card {
  margin: 15px;
}
.image {
  border-radius: 10px;
  margin-bottom: 40px;
}
.h3 {
  margin-bottom: 10px;
  font-family: "Rubik" !important;
  color: #0a141e;
  font-weight: 500;
  font-size: 21.5px;
}
.p {
  font-family: "Rubik" !important;
  font-size: 15px;
}

/* Media Query*/
@media only screen and (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
  }
  .image {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .card {
    text-align: center;
  }
  .p {
    max-width: 300px;
  }
}
