.container {
    width: 100%;
    padding: 0 15px;
    margin: auto;
}


/* ----------------------------------- */
/* ============MEDIA-QUERY============ */
/* ----------------------------------- */

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .container {
        max-width: 540px;
    }
}
