.read_bg {
  width: 85%;
  margin: 0 auto;
  padding: 75px 0;
}
.readrow {
  display: grid;
  grid-template-columns: 50% 50%;
}
.col1 {
  width: 100%;
}
.readimg {
  border-radius: 10px;
  max-width: 350px;
  max-height: 740px;
}
.head {
  font-weight: 500 !important;
  font-size: 40px;
  margin: 60px 0;
  font-family: "Rubik" !important;
}
.paragraph_container {
  margin: -20px 0;
}
.para1,
.para2 {
  text-align: left;
  font-family: "Rubik";
  font-weight: 400;
  line-height: 1.3;
  font-size: 17px;
  }
.readbtn {
  margin-top: 40px ;
  background-color: #3f51b5;
  border: 2px solid #3f51b5;
  color: white;
  border-radius: 8px;
  font-family: "Rubik";
  padding: 13px 30px;
  font-size: 0.9em !important;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 1.2;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.readbtn:hover {
  background-color: #fff;
  color: #3f51b5;
}
/*================== Media Query ========================*/

@media only screen and (max-width: 992px) {
  .read_bg {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .readrow {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .head{
    margin-top: 0px;
  }
  .readimg {
    margin: 0 auto;
  }
  .col2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .para1, .para2 {
    text-align: center;
  }
}