.container {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 3;
    height: 77px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sticky_header {
    z-index: 999;
    height: 67px;
}
.sticky_header .linklist button {
    padding: 20px 20px;
}
.logo {
    margin: 0;
    display: flex;
    align-items: center;
}
.linklists ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.linklist {
    margin: 0;
}
.linklist button {
    border:none;
    outline: none;
    background-color: transparent;
    color:#0A141E;
    padding: 25px 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.linklist_active {
    border-bottom: 5px solid #3F51B5;
}
.linklist_active button{
    color: #3F51B5;
}
.collapsedlinklist_btn{
    width: 29px;
    height: 29px;
    cursor: pointer;
    display: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
}
.collapsedlinklist_btn span {
    display: block;
    background: #3F51B5;
    height: 4px;
    margin-bottom: 4px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.collapsedlinklist_btn_expand span:first-child{
    margin: 0;
    transform: rotate(45deg);
}
.collapsedlinklist_btn_expand span:nth-child(2){
    margin: 0;
    transform: translateY(-4px) rotate(45deg);
}
.collapsedlinklist_btn_expand span:nth-child(3){
    margin: 0;
    transform: translateY(-8px) rotate(-45deg);
}
.collapsedlinklist_dropdown {
    position: absolute;
    display: none;
    right: 0;
    width: 450px;
    height: 0;
    background-color: #fff;
    margin-top: 15px;
    overflow: hidden;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    box-shadow: 0 0 35px rgba(0,0,0,.08);
}
.collapsedlinklist_dropdown ul {
    list-style: none;
    margin:0px;
}
.collapsedlinklist_dropdown ul li {
    margin: 0;
    padding: 20px 30px;
    border-top: 1px solid rgba(0,0,0,.05);
    cursor: pointer;
}
.collapsedlinklist_dropdown ul li button {
    border:none;
    background-color: transparent;
    color: #9595a8;
    padding: 0;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.collapsedlinklist_dropdown ul li button:hover {
    color: #0A141E;
}
/* --------------------------------------------- */
/* ---------------- MEDIA-QUERY ---------------- */
/* --------------------------------------------- */

@media screen and (max-width: 1200px) {
    .linklist button {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sticky_header .linklist button {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding:0px 15px;
    }
    .linklists {
        display: none;
    }
    .collapsedlinklist {
        position: relative;
    }
    .collapsedlinklist_btn {
        display: block;
    }
    .collapsedlinklist_dropdown {
        display: block;
    }
}
@media screen and (max-width:576px) {
    .collapsedlinklist_dropdown {
        width: calc(100vw - 40px);
        right: -15px;
    }
}