@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

.total_gallery {
  padding: 75px 0;
}

.gallery_panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

.image_style {
  overflow: hidden;
  border-radius: 10px;
  height: 96%;
  margin-bottom: 35px;
}

.image {
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.image_style:hover .image {
  transform: scale(1.3);
}

@media screen and (max-width: 1200px) {
  .gallery_panel {
    justify-content: center;
  }
  .image_style {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .gallery_panel {
    justify-content: space-between;
  }
  .image_style {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .gallery_panel {
    justify-content: center;
  }
}
