.background {
  background-color: #0a141e;
}

.footer_panel {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.address_content {
  padding: 50px 0px;
}

.foologo {
  width: 175px;
  height: 40px;
}

.address_line {
  font-size: 13.7px;
  width: 330px;
  color: #6A6D71;
  font-weight: 400;
}

.contact_info {
  color: white !important;
  margin-top: 38px;
  font-weight: 600;
}

.contact_info span {
  border-bottom: 3.5px solid #3f51b5;
  padding-bottom: 4px;
}

.address {
  font-size: 14px;
  color: #6A6D71;
  font-weight: 500;
}

.footer_address {
  align-self: center;
  padding: 50px 0px;
  width: 305px;
}

.second {
  display: flex;
  width: 50%;
}

.footer_address p {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 0;
}

.link {
  color: rgb(216, 209, 209);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.quick_underline {
  color: white !important;
}

.quick_underline span {
  border-bottom: 3.5px solid #3f51b5;
  padding-bottom: 4px;
  color: white;
}

.address_support {
  font-size: 13px;
  margin-left: 1.1em;
  padding-top: 7px;
}

.address_support li a {
  color: #6A6D71;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.address_support li {
  font-size: 10px;
  margin-bottom: 0;
}

.bottom_footer {
  font-size: 14px;
  color: rgb(216, 209, 209);
  padding: 17px 0;
  font-weight: 500;
  margin-bottom: 0px;
}

.media_area {
  background-color: #0D1726;
  width: 100%;
  max-width: 100%;
}

.media_img{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mediaImge {
  align-items: center;
  padding: 17px 0;
}

@media screen and (max-width: 767px) {
  .foologo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .second {
    width: 100%;
  }
  .address_line {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .bottom_footer {
    margin-left: auto;
    margin-right: auto;
  }
  .mediaImge {
    margin: 0 auto;
    display: block;
  }
}
