@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.background{
    background-image: url("../../images/testimonialsLogo.png");
    background-color: #3F51B5;
    background-repeat: no-repeat;
    background-size: 29rem;
    background-position:  calc(100% + 120px) calc(100% + 35px);
}
.wrapper {
    padding:75px 0;
}
.heading{
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 39px;
}
.slide_container {
    overflow: hidden;
}
.slide {
    display: flex;
}
.testimonial_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:50px;
    padding-bottom: 30px;
}
.profile{
    display: flex;
    padding-left: 5em;
}
.image_container {
    border-radius: 15px;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
}
.img{
    transform: scale(1.2);
}
.img img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}
.info{
    width: 150px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-left: 2em;
    margin-top:1em;
}
.name{
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 500;
}
.place{
    font-weight: 100 ;
    font-size: 22px;
}
.quotes{
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 19px;
    width: 52%;
    color: white;
    text-align: justify;
    position: relative;
    line-height: 1.2;
    height: fit-content;
}
.quotes::before {
    display: inline-block;
    content: " ";
    width:40px;
    height: 40px;
    background-image: url("../../images/quotes1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-right: 20px;
    position: absolute;
    top: -18px;
    left: -60px;
}
.quotes::after {
    display: inline-block;
    content: " ";
    width:40px;
    height: 40px;
    background-image: url("../../images/quotes2.png");
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    bottom: -40px;
    right: 50px;
}
.quote1{
    display: none;
    width: 35px;
    height: 50px;
    position: absolute;
    left: -60px;
    top: -10px;
}
.quote2{
    display: none;
    width: 35px;
    height: 50px;
    position: absolute;
    right: 100px;
}

.dots{
    display: flex;
    margin-left: 5.6em;
    margin-bottom: 50px;
    margin-top:2em;
}
.dot1, .dot2, .dot3 {
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #3F51B5;
    border: 3px solid #8692D0;
    margin-left: 5px;
}
.dot_active{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
}

@media only screen and (max-width: 1200px) {
    .profile {
        padding-left: 3em;
    }
    .dots {
        margin-left: 3.6em;
    }
}

@media only screen and (max-width: 992px) {
    .testimonial_wrapper {
        justify-content: center;
        
    }
    .profile {
        flex-direction: column;
        padding: 0;
        margin-bottom: 2em;
    }
    .info {
        margin-left: 0;
    }
    .name, .place {
        text-align: center;
    }
    .quotes {
        width: 85%;
        text-align: center;
    }
    .dots {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    .quotes::before {
        position: initial;
    }
    .quotes::after {
        bottom: -40px;
        right: 5px;
    }
      
}
@media only screen and (max-width: 500px) {
    .testimonial_wrapper {
        justify-content: center;
    }
    .profile {
        flex-direction: column;
        padding: 0;
        margin-bottom: 2em;
    }
    .info {
        margin-left: 0;
    }
    .name, .place {
        text-align: center;
    }
    .quotes {
        width: 85%;
        text-align: center;
    }
    .dots {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
}