.form_input input::-webkit-outer-spin-button,
.form_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form_input input[type=number] {
  -moz-appearance: textfield;
}

.form form {
    margin: 0;
}

.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/banner_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 100vh;
    min-height: 667px;
    max-height: 1080px;
}
.wrapper{
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    z-index: 1;
    height: 100%;
}
.content, .form_container {
    margin-top: 77px;
}
.content{
    display: flex;
    align-items: center;
    color: #fff!important;
}
.content h2 {
    color: #fff;
    font-size: 2.75em;
    line-height: 1.3em;
    margin-bottom: 30px;
}
.content p {
    margin-bottom: 30px;
}
.content button{
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 15px 40px;
    font-weight: 500;
    color:#3F51B5;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.content button:hover {
    background-color: #3F51B5;
    color: #fff;
}
.form_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form {
    background-color: #fff;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
    border-radius: 20px;
}
.form_input_holder {
    padding: 2em 3em;
}
.form_title h3 {
    margin-bottom: 5px;
}
.form_title p {
    font-size: 14px;
}
.form_input {
    background-color: #f3f3f5;
    border-radius: 20px;
    width: 100%;
}
.form_input input, textarea {
    background-color: transparent;
    border:none;
    outline: none;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.05)
}
.form_input input::placeholder, .form_input textarea::placeholder {
    font-weight: 500;
}
.form_input textarea {
    border-bottom: none;
    resize: vertical;
}
.form_submit{
    background-color: #3F51B5;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 25px 20px;
    text-transform: uppercase;
    color:#fff;
    font-weight: 500;
    position: relative;
    top: 2px;
    -webkit-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.form_submit:hover{
    color:#3F51B5;
    background-color: #dbdbdb;
}

/* ---------------------------------------- */
/* --------------MEDIA-QUERY--------------- */
/* ---------------------------------------- */

@media screen and (max-width:992px) {
    .container {
        height: auto;
        min-height: inherit;
        max-height: inherit;
        text-align: center;
        padding: 75px 0;
    }
    .grid {
        display: flex;
        flex-direction: column;
        margin-top: 75px;
    }
    .content , .form_container {
        margin-top: 0;
    }
    .content {
        padding-bottom: 5em;
    }
    .form_container {
        justify-content: center;
    }
    .form {
        width: 90%;
    }
}
@media screen and (max-width:576px) {
    .form {
        width: 100%;
    }
}