@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.container {
    padding: 75px 0;
}
.img{
    text-align: center;
    margin-bottom: 15px;
}
.flex_container{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 85px
}
.flex_wrapper{
    width: 250px;
    height: 210px;
    flex-direction: column;
    justify-content: center;
}
.text{
    font-family: 'Rubik', sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.description{
    color: rgba(0, 0, 0, 0.74);
    font-weight: lighter;
    font-size: 15px;
    padding-left: 33px;
    padding-right: 33px;
    text-align: center;
}
.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
}
.headingPara{
    text-align: center;
    width: 79%;
    margin: 0 auto;
    display: block;
    color:#838688;
    font-weight: 400;
}


@media screen and (max-width:992px) {
    .container {
        padding-bottom: 10px;
    }
}

@media screen and (max-width:500px) {
    .flex_wrapper{
        margin-bottom: 20px;
    }
}

@media screen and (max-width:320px) {
    .heading h1{
        font-size:32px
    }
}